.code-shots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include breakpoint($small) {
    justify-content: flex-start;
  }
}

.code-shots__code-shot {
  width: 368px;
  height: 275px;

  @include breakpoint($small) {
    width: 552px;
    height: 413px;
    // position: relative;
    // left: -75px;
  }

  @include breakpoint($medium) {
    width: 662px;
    height: 496px;
  }
}

.homepage-section {
  border-bottom: 1px $lighter-gray solid;
  margin-bottom: 3em;

  &__heading {
    border-bottom: 0 !important;
    font-size: $type-size-3;
  }

  &__heading--centred {
    text-align: center;
  }
}

.users-of {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__logo {
    margin: 2em;
  }
}
